<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.hotelreservation.mapper.HotelMapper">
  <resultMap id="BaseResultMap" type="com.liang.hotelreservation.dto.HotelDTO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <resultMap id="hotelListResult" type="com.liang.hotelreservation.dto.HotelListDTO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="price" javaType="decimal" property="price" />
  </resultMap>
  <select id="list" resultMap="hotelListResult"  >
    select a.*,b.price from hotel a,(select price,hotel_id from hotel_sku group by hotel_sku.hotel_id order by create_time desc ) b where a.id = b.hotel_id;
  </select>
</mapper>